{{ $img := .Page.Resources.GetMatch (.Get "img") }}
{{ $size :=  .Get "size" }}
{{- if not $size -}}
    {{ $size = "1400x1040 webp" }}
{{- end }}

{{ $hasExif := false }}

{{ with $img.Exif }}
    {{ $hasExif = true }}

    {{ $orientation := .Tags.Orientation }}
    {{ $img = $img.Fit $size }}

    {{ if (eq $orientation 6) }}
        {{ $img = $img.Resize (printf "%dx%d r270" $img.Height $img.Width) }}
    {{ else if (eq $orientation 8) }}
        {{ $img = $img.Resize (printf "%dx%d r90" $img.Height $img.Width) }}
    {{ end }}
{{ else }}
    {{ $img = $img.Fit $size }}
{{ end }}

<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{ $img.Permalink }}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title">{{ .Get "title" }}</h3>
        <p class="card-text"><small class="text-body-secondary">{{ .Get "footer" }}</small></p>
        <p class="card-text">{{ .Inner | markdownify }}</p>
      </div>
    </div>
  </div>
</div>
